.carousel-item {
  height: 600px;

  .d-block {
    height: 800px;
  }
}

#contenedor {
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  border: 1px solid black;
}

.giantCard {
  border: 1px solid black;
  padding: 10px;
}

.circleSection {
  background-color: #212529;
  height: 370px;
}

.restaurantText {
  color: white;
  font-size: 20px;
}

.btn {
  margin-left: 110px;
}

.rounded-circle {
  width: 150px;
}

.brand {
  font-size: 30px;
}

.pCircle {
  color: white;
}

footer {
  background-color: white !important;
  color: black !important;
}

hr {
  color: black !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.asideCard {
  color: white !important;
}
